@media (min-width: 767px) and (max-width: 1100px) {
  #text-appresentation1,
  #text-appresentation2 {
    font-size: 14.7vw;
  }

  .text-apresentacao {
    font-size: 3vw;
  }

  .icon {
    width: 12vw;
  }

  .butom-1,
  .butom-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: solid 0.4vw #f4511e;
    text-decoration: none;
    border-radius: 1vw;
    font-family: "Fira code", monospace;
    font-size: 3vw;
    width: 24vw;
  }

  .icon-foot {
    width: 8.196vw;
  }

  .bt-links {
    padding-bottom: 3rem !important;
  }

  .nav-link {
    font-size: 2vw;
  }
}

@media (min-width: 320px) and (max-width: 766px) {
  #text-appresentation1,
  #text-appresentation2 {
    font-size: 17.7vw;
  }

  .text-apresentacao {
    font-size: 3.7vw;
  }

  .icon {
    width: 15vw;
  }

  .butom-1,
  .butom-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: solid 0.5vw #f4511e;
    text-decoration: none;
    border-radius: 2vw;
    padding: 1vw;
    font-family: "Fira code", monospace;
    font-size: 4vw;
    width: 35vw;
  }

  .icon-foot {
    width: 10vw;
  }

  .bt-links {
    padding-bottom: 3rem !important;
  }

  .nav-link {
    font-size: 3vw;
  }
}