body {
    background-color: #000 ;
    overflow-x: hidden;
}

main {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem !important; 
  }

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-link {
    font-family: "Fira code", monospace;
    font-size: 1.3vw;
}
  
.nav-link:hover {
    text-decoration: underline 0.2vw;
}

.nav-item {
    font-size: 1.3vw;
}
  
.dropdown-item {
    font-size: 1.3vw;
}

.dropdown-menu {
    font-size: 1.3vw;
}

.dropdown-item:hover {
    background-color: #2d2d2d18;
    text-decoration: underline 0.2vw;
}


.bio {
    font-family: "Fira code", monospace;
    font-size: 20px;
    color: #fff;
    line-height: 1.4;
}

.img-bio {
    border-radius: 200px;
}
.icon {
    filter: invert(1);
    width: 2.196vw;
}

.icon:hover {
    transform: scale(1.2);
}

.icon-tec-html, .icon-tec-css, .icon-tec-js, .icon-tec-bt {
    font-family: "Fira code", monospace;
    font-size: 15px;
    border-radius: 17px;
    color: #fff;
}

.icon-tec-html{
    background-color: #ff8000;
}
.icon-tec-css{
    background-color: #0c61ff;
}
.icon-tec-js{
    background-color: #ffff00;
}
.icon-tec-bt{
    background-color: #6f2cf5;
}

.icon-tec-html:hover {
    transform: scale(1.2);
}
.icon-tec-css:hover{
    transform: scale(1.2);
}
.icon-tec-js:hover{
    transform: scale(1.2);
}
.icon-tec-bt:hover{
    transform: scale(1.2);
}